{% extends "layout.html" %}

{% block title %}
    Add Transaction 
{% endblock %}

{% block main %}

    <div class="container text-start">
        
        <!-- DISPLAY ALL ASSETS HERE -->

        <h2>Add Asset / Debt</h2>
        
        <div id="alert_block">

            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

        </div>

        <form action="/addnetworth" method="post" novalidate>
            <div class="mb-3">
                <select name="assetOrdebt" id="assetOrdebt" class="form-control w-auto" required>
                    <option value="" disabled selected>Debt or Asset</option>
                    <option value="asset">Asset</option>
                    <option value="debt">Debt</option>
                </select>
            </div>

            <div class="mb-3">
                <select name="type" class="form-control w-auto" id="type">
                    <option value ="" disabled selected>Type</option>
                </select>
            </div>

            <div class="mb-3">
                <input autocomplete="off" class="form-control w-auto" name="description" id = "description" type="text" placeholder="Description" required>
            </div>

            <div class="mb-3">
                <input autocomplete="off" class="form-control w-auto" name="amount" id="amount" type="number" placeholder="Amount" required>
            </div>
                
            <button class="btn btn-primary" type="submit" id="the_transaction_submit">Submit</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='addnetworth_script.js') }}"></script>

{% endblock %}
