{% extends "layout.html" %}

{% block title %}
    Plan and Budget 
{% endblock %}

{% block main %}

<h2>This feature is under construction</h2>

<div class="budget-form">
    <form action="">
        <h2>Monthly Income</h2>
            <label class="form-label" for="wages">Salary (after-tax)</label>
            <input class="form-control" type="text" name="wages" id="wages" placeholder="$">

            <label class="form-label" for="wages">Other</label>
            <input class="form-control" type="text" name="other" id="other" placeholder="$">

        <h2>Expenses</h2>

            <h3>Needs</h3>
            <label for="wages">Rent / Mortgage</label>
            <input type="text" name="rent" id="rent" placeholder="$">

            <label for="wages">Home Insurance</label>
            <input type="text" name="homeinsurance" id="homeinsurance" placeholder="$">
            
            <label for="wages">Property Tax</label>
            <input type="text" name="propertytax" id="propertytax" placeholder="$">
            
            <label for="wages">Car Insurance</label>
            <input type="text" name="carinsurance" id="carinsurance" placeholder="$">

            <label for="wages">Car Payments</label>
            <input type="text" name="carpayments" id="carpayments" placeholder="$">

            <label for="wages">Health Insurance</label>
            <input type="text" name="healthinsurance" id="healthinsurance" placeholder="$">
            
            <label for="wages">Electric Bill</label>
            <input type="text" name="electric" id="electric" placeholder="$">
            
            <label for="wages">Water Bill</label>
            <input type="text" name="waterbill" id="waterbill" placeholder="$">

            <label for="wages">Garbage Bill</label>
            <input type="text" name="garbagebill" id="garbagebill" placeholder="$">

            <label for="wages">Groceries</label>
            <input type="text" name="groceries" id="groceries" placeholder="$">

            <label for="wages">Car Maintenance</label>
            <input type="text" name="carmaintenance" id="carmaintenance" placeholder="$">

            <label for="wages">Gas</label>
            <input type="text" name="gascar" id="gascar" placeholder="$">

            <label for="wages">Tolls</label>
            <input type="text" name="tolls" id="tolls" placeholder="$">

            <label for="wages">Phone Bill</label>
            <input type="text" name="phonebill" id="phonebill" placeholder="$">

            <label for="wages">Internet Bill</label>
            <input type="text" name="internetbill" id="internetbill" placeholder="$">

            <label for="wages">Student Loan</label>
            <input type="text" name="studentloan" id="studentloan" placeholder="$">

            <label for="wages">Other</label>
            <input type="text" name="otherneeds" id="otherneeds" placeholder="$">

            <h3>Wants</h3>

            <label for="wages">Shopping</label>
            <input type="text" name="shoping" id="shoping" placeholder="$">

            <label for="wages">Dining Out</label>
            <input type="text" name="diningout" id="diningout" placeholder="$">

            <label for="wages">Travel</label>
            <input type="text" name="travel" id="travel" placeholder="$">

            <label for="wages">Gym</label>
            <input type="text" name="gym" id="gym" placeholder="$">

            <label for="wages">Subscriptions</label>
            <input type="text" name="subscriptions" id="subscriptions" placeholder="$">

            <label for="wages">other</label>
            <input type="text" name="otherwants" id="otherwants" placeholder="$">

        <button class="btn btn-primary">Calculate</button>
    </form>
</div>

<table class="chart-table">
    <thead>
        <tr>
            <th class="chart-heading">
                Budget Break Down
            </th>
        </tr>
    </thead>
    <tbody class="budget-breakdown">
        <tr>
            <td>
                <div class="chart-container">
                    <canvas  id="myChart"></canvas>
                </div>
            </td> 
        </tr>
        <tr>
            <td>
                <div class="chart-details">
                        <ul>
                            <li>Expense 1: <span class="amount">$100.00</span></li>
                            <li>Expense 2: <span class="amount">$100.00</span></li>
                            <li>Exoense 3: <span class="amount">$100.00</span></li>
                            <li>Expense 4: <span class="amount">$100.00</span></li>
                        </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.5/dist/chart.umd.min.js"></script>
  
<script src="{{ url_for('static', filename='budget_script.js') }}"></script>

{% endblock %}
