{% extends "layout.html" %}

{% block title %}
    Reports
{% endblock %}

{% block main %}
<tbody> 

        <h2>Welcome, {{ name }}. Here is the your Spending Overview:</h2>
        
        <div id="alert_block">
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
        </div>

        <form action="reports" method="get" id="range_table">
            <div class="mb-3">
                <select class="form-control w-auto" name="report_type" id="report_type">
                    <option value="" disabled selected >Select Range</option>
                    <option value="all">All</option>
                    <option value="month">Month</option>
                    <option value="range">Range</option>
                </select>   
            </div>

            <div class="mb-3" id="range_options">

            </div>
        </form>

    <div class="table_chart-container">
        <table class="table table-hover table-striped income_expense-table" id="transactions_table">
            <thead>
                <tr class="list-heading">
                    <th scope="row">Date</th>
                    <th scope="row">Description</th>
                    <th scope="row">Amount</th>
                </tr>
            </thead>
                {% for data in user_data %}
                <tr class="{{ data.type }}" id="row-{{ data.id }}">
                    <td class="row-date">{{ data.transaction_date | date_format}}</td>
                    <td class="row-description">{{ data.description }}</td>
                    <td class="row-amount">{% if data.type == 'expense' %}-{% endif %}{{ data.amount | usd}}</td>
                </tr>
                {% endfor %}
        </table>

        <table class="chart-table">
            <thead>
                <tr>
                    <th class="chart-heading">
                        Budget Break Down
                    </th>
                </tr>
            </thead>
            <tbody class="budget-breakdown">
                <tr>
                    <td>
                        <div class="chart-container">
                            <canvas  id="myChart"></canvas>
                        </div>
                    </td> 
                </tr>
                <tr>
                    <td>
                        <div class="chart-details">
                                <div>
                                    {% if user_data %}
                                    From 
                                        <span class="chart_date">{{ user_data[0].transaction_date | date_format}}</span> to 
                                        <span class="chart_date">{{ user_data[-1].transaction_date | date_format }}</span> you spent:
                                    {% else %}
                                    Please enter transactions to render data.
                                    {% endif %}
                                </div>    
                                <ul>
                                    {% for data in chart_description %}
                                        <li>{{ data.category }}: <span class="chart_amount">{{ data.amount }}</span></li>
                                    {% endfor %}
                                </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.5/dist/chart.umd.min.js"></script>
        <script>
            const ctx = document.getElementById('myChart');
            const chartData = {
            labels: {{ chart_labels | tojson }},
            data: {{ chart_data | tojson }},
            borderWidth: 1 
            };

            new Chart(ctx, 
            {
                type: 'doughnut',
                data: 
                {
                labels: chartData.labels,
                datasets: 
                [
                    {
                    label: '$',
                    data: chartData.data,
                    borderWidth: chartData.borderWidth 
                    }
                ]
                },

                options: 
                {
                borderWidth: 10,
                borderRaidus: 6,
                hoverBorderWidth: 0, 
                plugins:
                {
                    legend: 
                    {
                    display: false,
                    }
                }
                }
            }
            );
        </script>
        <div class="button-container">
            <form action="/transactions" method="get">            
                <button class="btn btn-primary" type="submit" id="the_transaction_submit">Add Transactions</button>
            </form>
            <form action="/editreports" method="get">            
                <button class="btn btn-primary" type="submit" id="the_edit_submit">Edit Transactions</button>
            </form>
        </div>
    <script src="{{ url_for('static', filename='reports_script.js') }}"></script>
</tbody>
{% endblock %}
