{% extends "layout.html" %}

{% block title %}
    Reports
{% endblock %}

{% block main %}

    <div class="container text-start">
        <h2>Spending Overview</h2>

        <div id="alert_block">
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
        </div>

        <table class="table table-hover table-striped" id="transactions_table">
            <thead>
                <tr class="list-heading">
                    <th scope="row">Date</th>
                    <th scope="row">Description</th>
                    <th scope="row">Amount</th>
                    <th></th>
                </tr>
            </thead>
                {% for data in user_data %}
                <tr id="row-{{ data.id }}">
                    <td class="row-date">{{ data.transaction_date }}</td>
                    <td class="row-description">{{ data.description }}</td>
                    <td class="row-amount">{{ data.amount }}</td>
                    <td class="row-buttons">       
                        <button class="btn btn-primary edit-btn" type="submit" value="{{ data.id }}" id="edit-{{data.id}}">Edit</button>
                        <button class="btn btn-primary delete-btn" type="submit" value="{{ data.id }}" id="delete-{{data.id}}">Delete</button>
                    </td>
                </tr>

                {% endfor %}
            <tbody> 
            
            </tbody>
        </table>

        <form action="/transactions" method="get">            
            <button class="btn btn-primary" type="submit" id="the_transaction_submit">Add Transactions</button>
        </form>

    <script src="{{ url_for('static', filename='reports_script.js') }}"></script>

{% endblock %}
