{% extends "layout.html" %}

{% block title %}
    Reports
{% endblock %}

{% block main %}

    <div class="container text-start">
        <h2>Spending Overview</h2>
        
        <table class="table table-hover table-striped">
            <thead>
                <tr class="list-heading">
                    <th scope="row">Date</th>
                    <th scope="row">Description</th>
                    <th scope="row">Amount</th>
                    <th></th>
                </tr>
            </thead>
                {% for data in user_data %}
                <tr id="row-{{ data.id }}">
                    <td id="date-{{ data.id }}">{{ data.transaction_date }}</td>
                    <td id="description-{{ data.id }}">{{ data.description }}</td>
                    <td id="amount-{{ data.id }}">{{ data.amount }}</td>
                    <td>
                        <button class="btn btn-primary" type="submit" id="edit-{{data.id}}">Edit</button>
                        <button class="btn btn-primary" type="submit" id="delete-{{data.id}}">Del</button>
                    </td>
                </tr>
                {% endfor %}
            <tbody> 
            
            </tbody>
        </table>

        <form action="/transactions" method="get">            
            <button class="btn btn-primary" type="submit" id="the_transaction_submit">Add Transactions</button>
        </form>

    <script src="{{ url_for('static', filename='reports_script.js') }}"></script>

{% endblock %}
