{% extends "layout.html" %}

{% block title %}
    Add Transaction 
{% endblock %}

{% block main %}

    <div class="container text-start">
        <h2>Add a Transaction</h2>
        <form action="/transactions" method="post">
            <div class="mb-3">
                <select name="type" class="form-control w-auto">
                    <option disabled selected>Transaction Type</option>
                    <option value="income">Income</option>
                    <option value="expense">Expense</option>
                    <option value="transfer">Transfer</option> 
                </select>
            </div>

            <div class="mb-3">
                <select name="category" class="form-control w-auto">
                    <option disabled selected>Category</option>
                </select>
            </div>

            <div class="mb-3">
                <input autocomplete="off" class="form-control w-auto" name="description" placeholder="Description (optional)" type="text">
            </div>
            
            <div class="mb-3">
                <input autocomplete="off" class="form-control w-auto" name="amount" placeholder="Amount" type="number">
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
